@import "../../styles/abstracts/variables";

.close-position-modal {
  .actions {
    & > * {
      width: 100%;
    }
  }

  .arrow-down {
    display: block;
    border-radius: 50%;
    border: 1px solid $color-blue;
    cursor: pointer;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-out;
    position: relative;

    &>* {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-47%, -50%);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}


.amount-input-box {
  &__head {
    &--balance {
      border-bottom: 1px dashed $color-text-grey;
      cursor: pointer;
    }
  }
}
