@import "../../styles/abstracts/mixins";

.exposure-box {
  width: 400px;

  @include respond(phone) {
    width: 100%;
  }

  .leverage-changed-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin-top: 2rem;

    &__row {
      text-align: center;
      transition: all .25s ease-out;
      height: 30px;

      &.is-changed {
        height: 95px;
      }

      & > *:not(:last-child) {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }

  .add-and-remove-box {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }

    & > * {
      flex: 1;
    }
  }

  .execute-button {
    margin-top: 2rem;
    width: 100%;
  }

  .info-box1 {
    padding: 1rem;

    &>*:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .info-row {
    //font-size: 12px;
    &  * {
      //font-size: 12px;
    }
  }

  .amount-input-box {
    &__head {
      display: flex;
      justify-content: space-between;
      margin: 1.5rem 0;
    }
  }

  .deleverage-checkbox {
    margin-left: 30px;
    margin-bottom: -20px;
  }
}
