@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.exposure-box {
  width: 400px;

  @include respond(phone) {
    width: 100%;
  }

  .leverage-changed-box {
    &__row {
      text-align: center;
      transition: all .25s ease-out;
      display: flex;
      justify-content: space-between;

      & > *:not(:last-child) {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }

  .add-and-remove-box {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }

    & > * {
      flex: 1;
    }

    & .btn-add:hover {
      background: $color-buy
    }
    & .btn-remove:hover {
      background: $color-sell
    }
  }

  .execute-button {
    margin-top: 2rem;
    width: 100%;
  }

  .info-box1 {
    padding: 1rem;

    &>*:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .info-row {
    //font-size: 12px;
    &  * {
      //font-size: 12px;
    }
  }

  .amount-input-box {
    &__head {
      display: flex;
      justify-content: space-between;
      margin: 1.5rem 0;
    }
  }

  .deleverage-checkbox {
    margin-left: 30px;
    margin-bottom: -20px;
  }

  .exposure-change-info {
    display: flex;
    justify-content: space-between;

    &__left {
      white-space: nowrap;
    }
  }

  .leverage-info-box {
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid $color-box-border-grey;
  }
  .leverage-input-box {
    display: flex;
    align-items: center;

    &__left {
      flex: 1;
      padding-right: 1.5rem;
    }
  }
  .leverage-and-add-remove {
    padding: 1rem;
  }
  .btn-switch-leverage-and-manual:hover {
    background: $color-execute
  }
}
