@import "../../../styles/abstracts/variables";

.derivable-text {
  font-size: 14px;
  color: white;

  &.text-buy {
    color: $color-buy;
    &>* {
      color: $color-buy;
    }
  }
  &.text-sell {
    color: $color-sell;

    &>* {
      color: $color-sell;
    }
  }
  &.text-grey {
    color: $color-grey;
  }
  &.text-green {
    color: $color-green
  }
  &.text-blue {
    color: $color-blue
  }
  &.text-pink {
    color: $color-pink
  }
  &.text-link {
    color: $color-execute;
    cursor: pointer;
    text-decoration: underline;
  }
}
