@import "../../styles/abstracts/variables";

.select-token-modal {
  height: 400px;
  max-height: calc(100vh - 200);
  overflow: auto;
  @include scrollBar();


  .option {
    transition: all 0.1s ease-out;
    display: flex;
    align-items: center;

    &:hover {
      background: $color-select-token-hover !important;
    }

    &__name-and-lp {
      flex: 1;
    }

    & > *:not(:last-child) {
      margin-right: 1rem;
    }

    &__balance {
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    //&__icon-and-name {
    //  display: flex;
    //  align-items: center;
    //
    //  &>*:not(:last-child) {
    //    margin-right: 0.5rem;
    //  }
    //}
  }
}
