@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.pool-table {
  width: 800px;
  border-collapse: collapse;

  &-wrap {
    background: $color-card-bg;
    border-radius: 20px;
    padding: 1rem 0 2rem 0;

    @include respond(phone) {
      max-width: calc(100vw - 20px);
      overflow: auto;
    }
  }

  tr.is-long-pool td {
    background: rgba(61, 186, 162, 0.1);
  }

  tr.is-short-pool td {
    background: rgba(255, 122, 104, 0.1);
  }

  td,th {
    padding: 1rem;
  }

  .pool-tr {
    & * {
      cursor: pointer;
    }
  }

  .search-pool-input {
    border: 1px solid $color-grey;
    background: transparent;
    padding: 1rem 1.5rem;
  }

  .pool-actions {
    &>*:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.pool-table-compact {
  //width: 800px;
  border-collapse: collapse;
  width: 100%;

  &-wrap {
    background: $color-card-bg;
    border-radius: 20px;
    padding: 1rem 0 2rem 0;

    @include respond(phone) {
      max-width: calc(100vw - 20px);
      overflow: auto;
    }
  }

  td,th {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .pool-tr {
    & * {
      cursor: pointer;
    }
  }

  .pair-name {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .pair-logo {
    *:first-child {
      position: relative;
      z-index: 2;
    }
    *:last-child {
      transform: translate(-50%, -2px);
      position: relative;
      z-index: 1;
    }
  }
}
