@import "mixins";

// COLORS
$color-sell:#FF7A68;
$color-buy: #3DBAA2;
$color-grey: rgba(242, 242, 242, 0.1);
$color-grey-1: #F2F2F2;
$color-grey-2: #242731;
$color-grey-3: #303236;
$color-green: #4FBF67;
$color-blue: #01A7FA;
$color-pink: #FF98E5;
$color-error: #f80000;
$color-warning: #f89500;
$color-execute: #01A7FA;
$color-primary: #01A7FA;
$color-disable-bg: #565656;
$color-disable-text: #ffffff;
$color-reset-btn: rgba(1, 82, 122, 0.57);

$color-text-disabled: rgb(102 97 113 / 69%);
$color-text-grey: #9CA3AF;
$loading-background-color: var(--swap-loading-background-color, var(--swap-default-loading-background-color));
$color-text-default: #ffffff;
$color-box-border: #6e6e6e;
$color-box-border-grey: #3a3a3a;
$color-border-1: #353945;
$color-card-bg: #1B1D21;

$color-card-border: #6c6c6c1c;
$color-overlay: #2a2a2ae6;
$color-input-bg: #242731;
$color-input-placeholder: #808191;
$color-modal-bg: #1B1D21;
$color-select-token-hover: #6e6e6e;


// FONT
$default-font-size: 1.6rem;

$container-padding: 2rem;
$container-sm-padding: 1rem;

body {
  @include respond(desktop) {
    --swap-container-padding: 7rem;
  }
  @include respond(small-desktop) {
    --swap-container-padding: 7rem;
  }
  @include respond(tablet) {
    --swap-container-padding: 2rem;
  }
  @include respond(phone) {
    --swap-container-padding: 2rem;
  }

}
