@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.positions-box {
  padding: 1rem !important;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: auto;

  & table {
    border-collapse: collapse;
  }

  @include respond(phone) {
    height: inherit;
  }

  @include scrollBar;

  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr td {
    white-space: nowrap;
  }

  td, th {
    padding: 0.5rem 0.25rem;
  }

  .position-row {
    cursor: pointer;
    &:hover td {
      background: #58585840;
    }
  }

  .net-value-and-pnl {
    display: flex;
    flex-direction: column;
  }

  .positions-list {
    &__item {
      border-bottom: 1px solid #333;
      padding: 1rem;

      & > div {
        padding: 0.5rem 0;
      }

      .btn-close {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}
