@import "src/styles/abstracts/mixins";
@import "src/styles/abstracts/variables";

.positions-table {
  padding: 1rem !important;
  border-collapse: collapse;
  border-radius: 8px;
  height: 320px;
  overflow: auto;

  & table {
    border-collapse: collapse;
  }

  @include respond(phone) {
    height: inherit;
    max-height: 250px;
  }

  @include scrollBar;

  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr td {
    white-space: nowrap;
  }

  td, th {
    padding: 0.5rem 0.25rem;
  }
}
