// COLORS
$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$sidebar-color: var(--sidebar-color);
$layout-background-color: var(--layout-background-color);
$color-grey: var(--color-grey);
$color-grey-light: var(--color-grey-light);
$color-grey-light-1: var(--color-grey-light-1);
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-text-default: var(--color-text-default);

// FONT
$default-font-size: 1.6rem;