@import "../../styles/abstracts/mixins";

.exposure-interface.app {
  width: 1400px;
  max-width: calc(100vw - 3rem);
  margin: 0 auto;
  display: flex;
  align-items: start;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  //justify-content: center;

  //@include respond(phone) {
  //  flex-direction: column;
  //}

  //& > *:not(:last-child) {
  //  margin-right: 2rem;
  //}
}
