@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.swap-setting-modal {
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &>*:first-child {
      width: 40%;
    }
    &>*:last-child {
      flex: 1;
    }
  }

  .advanced-settings-row {
    cursor: pointer;
    margin-top: 10px;
    text-wrap: nowrap;
    text-align: right;
    // display: flex;
    // justify-content: end;
  }

  .sort-by {
    &__items {
      display: flex;
      gap: 1rem;
    }

    &__item {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      background: none;
      border: 2px solid #565656;
      padding: .5rem;
      border-radius: .5rem;

      &.active {
        border: 2px solid $color-primary;
      }

      &:hover {
        border: 2px solid rgba($color-primary, 0.5);
      }
    }
  }
}
