@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.swap-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-out;

  &.show {
    visibility: visible;
    outline: none;
    text-decoration: none;
    font-size: 70%;
    cursor: pointer;
    opacity: 1;
  }

  input[type='text'] {
    width: 10rem;
    border: 2px solid #aaa;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    outline: none;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: 0.3s;
  }

  input[type='text']:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: $color-overlay;
  }

  .modal {
    min-width: 50rem;
    min-height: 20rem;
    background: $color-modal-bg;
    border-radius: 1.25rem;
    max-height: 100%;
    z-index: 1001;
    padding: 1.5rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
    margin-top: 12rem;
    overflow: hidden;

    .btn-close-wrap {
      padding-bottom: 2rem;
      border-bottom: 1px solid #696969;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn-close {
        cursor: pointer;
      }
      .title {
        font-size: 2rem;
        font-weight: bold;
      }
    }
    .modal-content {
      padding: 1rem 0;

      .beverage-modal {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem;
        min-height: 20rem;

        .beverage-modal__percent {
          display: flex;
          gap: 1.25rem;
          align-items: center;
        }

        .beverage-modal__reserve {
          display: flex;
          min-height: 10rem;
          gap: 1.25rem;
          align-items: center;

          .reserve-title {
            display: flex;
            min-height: 10rem;
            justify-content: start;
          }

          .reserve-token {
            display: flex;
            min-height: 10rem;
            justify-content: start;

            .reserve-token__wrap {
              display: flex;
              flex-direction: column;
              gap: 0.625rem;
            }
          }
        }
      }
    }
  }
}
