@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.swap-setting-modal {
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &>*:first-child {
      width: 40%;
    }
    &>*:last-child {
      flex: 1;
    }
  }
}
