@import "../../styles/abstracts/mixins";

.exposure-interface .exposure-page {
  padding: 2rem;
  &__head {
    margin-bottom: 1.5rem;
    display: flex;

    &--back-btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: start;
    }
  }

  &__content {
    display: flex;
    align-items: start;
    justify-content: center;

    @include respond(phone) {
      flex-direction: column;
      max-width: 100%;
      padding: 0;
    }

    & > *:not(:last-child) {
      margin-right: 2rem;

      @include respond(phone) {
        margin-bottom: 2rem;
        margin-right: 0;
      }
    }

    &--left {
      width: 600px;
    }
  }
}
