@import "../../../styles/abstracts/variables";

.derivable-button {
  padding: 12px 16px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-out;
  overflow-wrap: anywhere;

  &:disabled {
    background: $color-disable-bg !important;
    color: $color-disable-text !important;
    cursor: not-allowed;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.33);
  }

  &:active {
    transform: translateY(1px);
  }

  &.buy {
    background: $color-buy;
  }

  &.sell {
    background: $color-sell;
  }

  &.grey {
    background: $color-grey;
  }

  &.execute {
    background: $color-execute;
  }

  &.reset {
    background: $color-reset-btn;
  }

  &.border {
    background: transparent;
    border-radius: 2rem;
    border-style: solid;
    border-width: 1px;
  }
}
