@import "../../../styles/abstracts/variables";

.derivable-button {
  padding: 12px 16px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-out;

  &.size {
    &-small {
      padding: 0.5rem 1rem;
    }
    &-normal {
      padding: 0.8rem 1.2rem;
    }
    &-large {
      padding: 1.2rem 1.6rem;
    }
  }

  &:disabled {
    background: $color-disable-bg !important;
    color: $color-disable-text !important;
    cursor: not-allowed;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.33);
  }

  &:active {
    transform: translateY(1px);
  }

  &.buy {
    background: rgba($color-buy, 0.7);
  }

  &.sell {
    background: rgba($color-sell, 0.7);
  }

  &.grey {
    background: $color-grey;
  }

  &.execute {
    background: rgba($color-execute, 0.85);
  }

  &.close {
    background: rgba($color-pink, 0.6);
  }

  &.reset {
    background: $color-reset-btn;
  }

  &.border {
    background: transparent;
    border-radius: 2rem;
    border-style: solid;
    border-width: 1px;
  }
}

.positions-box .derivable-button {
  &.sell {
    background: transparent;
    border: 1px solid $color-text-grey;
    font-weight: normal;
    color: $color-pink;
    border-radius: 0.7em;

    &:hover {
      border-color: white;
    }
  }
}
