@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

$element-gap: 2rem;

.exposure-interface .exposure-page {
  width: 100%;
  &__head {
    margin-bottom: 1.5rem;
    display: flex;

    &--back-btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: start;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: $element-gap;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }

    &--left, &--right {
      display: flex;
      flex-direction: column;

      &>*:not(:last-child) {
        margin-bottom: $element-gap;
      }
    }
  }

  .trade-box {
    width: 400px;

    @include respond(phone) {
      width: 100%;
    }
  }

  .react-tabs {
    &__tab-list {
      width: 90%;
      justify-content: space-between;
      display: flex;
    }

    &__tab {
      width: calc(50% - 5px);
      text-align: center;
      background: $color-grey-2;
      border-radius: 2rem 2rem 0 0;

      &--selected {
        background: $color-card-bg;
        color: $color-text-default;
        border-color: $color-card-border;
      }

      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
    &__tab-list {
      margin-bottom: 0;
      border: none;
    }
  }

  .card-in-tab {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
