.page-loading-indicator {
  &__wrap {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    gap: 3rem;
    z-index: 100;
    background: #302f2f4f;
  }

  &__logo {
    margin-top: 20vh;
  }
}

.page-loading-indicator {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.page-loading-indicator div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.page-loading-indicator div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.page-loading-indicator div:nth-child(1) {
  animation-delay: -0.036s;
}

.page-loading-indicator div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.page-loading-indicator div:nth-child(2) {
  animation-delay: -0.072s;
}

.page-loading-indicator div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.page-loading-indicator div:nth-child(3) {
  animation-delay: -0.108s;
}

.page-loading-indicator div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.page-loading-indicator div:nth-child(4) {
  animation-delay: -0.144s;
}

.page-loading-indicator div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.page-loading-indicator div:nth-child(5) {
  animation-delay: -0.18s;
}

.page-loading-indicator div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.page-loading-indicator div:nth-child(6) {
  animation-delay: -0.216s;
}

.page-loading-indicator div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.page-loading-indicator div:nth-child(7) {
  animation-delay: -0.252s;
}

.page-loading-indicator div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.page-loading-indicator div:nth-child(8) {
  animation-delay: -0.288s;
}

.page-loading-indicator div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
