@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.calculator {
  max-height: 420px;
  width: 100%;
  height: 75vw;
  .dcg-calculator-api-container {
    .dcg-container {
      background: none !important;
    }
  }
}

.plot-chart-box {
  height: 450px;

  @include respond(phone) {
    height: 320px !important;
  }
}