@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.exposure-interface .pool-detail-and-history {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  &__left {
    flex: 4;
    padding-right: 1rem;
  }
  &__right {
    flex: 3;
  }

  @include respond(phone) {
    flex-direction: column;
    &__left {
      padding-right: 0;
    }
    &__right {
      margin-top: 2rem;
    }
  }
}
