.dark {
  // COLORS
  --color-primary: #328B31;
  --color-primary-light: #96CF24;
  --sidebar-color: #1B1D1C;
  --layout-background-color: #000000;
  --color-grey: #535353;
  --color-grey-light: #9CA3AF;
  --color-grey-light-1: #808080;
  --color-white: #fff;
  --color-black: #000;
  --color-text-default: #ffffff;
}

.light {
  // COLORS
  --color-primary: #328B31;
  --color-primary-light: #96CF24;
  --sidebar-color: #1B1D1C;
  --layout-background-color: #E5E5E5;
  --color-grey: #535353;
  --color-grey-light: #9CA3AF;
  --color-grey-light-1: #808080;
  --color-white: #fff;
  --color-black: #000;
  --color-text-default: #000000;
}
