@import "../../../styles/abstracts/variables";

.pool-expand {
  border: 1px solid $color-box-border;
  padding: 2rem;
  border-radius: 2rem;

  &__wrap {
    padding: 2rem;
  }

  &__top {
    padding-bottom: 2rem;

    &--left,&--mid,&--right {
      & >*:not(:last-child) {
        margin-bottom: 1.5rem !important;
      }
    }
  }

  &__bottom {
    padding-top: 2rem;
  }

  &__top,&__bottom {
    display: flex;

    &--left {
      flex: 1
    }

    &--mid {
      flex: 1
    }

    &--right {
      flex: 1
    }
  }

  &__configs, &__total-supplies {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    position: relative;
    border-top: 1px solid $color-box-border;
    padding-top: 1.5rem;

    &--title {
      position: absolute;
      top: -1.1rem;
      left: 50%;
      transform: translateX(-50%);
      background: $color-card-bg;
      padding: 0 1rem;
    }
  }
}
