@import "../../../styles/abstracts/variables";

$border-radius: 8px;

.exposure-interface .pool-expand {
  &__wrap {
    background: $color-card-bg;
    border-radius: 20px;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    td:not(:first-child) {
      text-align: center;
    }
    th {
      height: 40px;
    }

    & * {
      font-size: 1.2rem;
    }
  }

  &__info-row {
    background: $color-input-bg;
    & td:first-child {
      padding-left: 1.5rem;
    }
    td {
      padding: 0.8rem;
    }
  }

  &__config-row {
    td {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  &__imbalance-rate-row {
    td {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }
  }

  &__funding-rate {
    padding: 0 2rem 0 2rem;
    border-left: 1px solid $color-border-1;
    border-right: 1px solid $color-border-1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &--box {
      height: 1px
    }
  }

  .br {
    border-radius: 10px;
  }
  .space {
    height: 12px;
  }
  .br-top-left {
    border-top-left-radius: 10px;
  }
  .br-top-right {
    border-top-right-radius: 10px;
  }
  .br-bottom-left {
    border-bottom-left-radius: 10px;
  }
  .br-bottom-right {
    border-bottom-right-radius: 10px;
  }
}
