@import "../../../styles/abstracts/variables";

$border-radius: 8px;

.exposure-interface .pool-expand {
  &__wrap {
    background: $color-card-bg;
    border-radius: 20px;
  }

  &__top {
    display: flex;
    &--left,&--mid,&--right {
      display: flex;
      flex-direction: column;
      flex: 1;
      &-head {
        height: 25px;
        display: flex;
        align-items: start;
        padding: 0 1rem;
      }
      &-content {
        background: $color-grey-2;
        flex: 1;
        padding: 1rem;

        & >*:not(:last-child) {
          margin-bottom: 1.5rem !important;
        }
      }
    }

    &--left-content {
      border-radius: $border-radius  0 0 0;
    }
    &--right-content {
      border-radius: 0 $border-radius 0 0;
    }

  }

  & * {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  &__configs, &__total-supplies {

  }

  &__bottom {
    background: $color-grey-2;
    border-radius: 0  0 $border-radius $border-radius;
    position: relative;
    padding: 1rem;


    &--content {
      border-top: 1px solid $color-box-border;
      display: flex;
      justify-content: space-between;
      padding-top: 1rem;

      & > * {
        white-space: nowrap;
      }
    }
  }
}
