@import "src/styles/abstracts/variables";
.select-pool-group {
  background: $color-card-bg;
  border: 1px solid $color-primary;
  position: absolute;
  border-radius: 10px;

  &__wrap {
    position: relative;
    height: 35px;
    z-index: 1000;

    @include respond(phone) {
      height: 26px;
    }
  }

  & * {
    box-sizing: border-box;
  }

  &__dropdown {
    width: 100%;
    transition: all ease-out 0.25s;
    &.un-active {
      height: 0;
    }
  }

  &__option {
    padding: 0.5rem 2rem;
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      background: $color-grey
    }

    &.active {
      //padding: 1rem 2rem;
      background: $color-grey
    }

    &>*:not(:first-child){
      @include respond(phone) {
        display: none;
      }
    }
  }
}
