@import "../../../styles/abstracts/variables";

.remove-form {
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__input {
    margin-bottom: 1.5rem;
  }

  &__select-percent {
    display: flex;
    justify-content: space-between;

    &--option {
      background: $color-grey;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      cursor: pointer;

      &:hover, &.active {
        background: $color-execute;
      }
    }

    &--custom-percent {
      width: 50px;

      &-wrap {
        padding: 0.5rem;
      }
    }
  }
}
