@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.long-short-box {
  padding: 1.5rem;

  .amount-input-box {
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1.5rem 0;

      .current-token {
        display: flex;
        align-items: center;
        cursor: pointer;
        & > *:not(:last-child) {
          margin-right: 0.75rem;
        }
      }

      &--balance {
        cursor: pointer;
      }
    }
  }

  .estimate-box {
    position: relative;
    padding-top: 1.5rem !important;

    &__leverage {
      position: absolute;
      border: 1px solid;
      left: 3rem;
      transform: translateY(calc(-50% - 1.5rem));
      padding: 0.5rem;
      border-radius: 0.5rem;
      background: $color-card-bg;
      &.long {
        border-color: $color-buy;
      }
      &.short {
        border-color: $color-sell;
      }
      &.liquidity {
        border-color: $color-blue;
      }
    }
  }

  .position-delta--box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .position-delta--group {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }

    .position-delta--right {
      text-align: right;
    }

    .position-delta--left {
      text-align: left;
      color: #9CA3AF;
    }
}

  .delta-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 200px;

    &.no-data {
      .text-left {
        text-align: right;
        flex: 1;
        width: inherit;
      }
    }

    .text-left {
      width: 60px;
    }
    .text-right {
      width: 100px;
    }
    .icon-plus {
      width: 10px;
    }
  }

  .info-row {
    font-size: 14px;
    &  * {
      font-size: 14px !important;
    }
  }

  .arrow-down {
    display: block;
    border-radius: 50%;
    border: 1px solid $color-blue;
    cursor: pointer;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-out;
    position: relative;

    &>* {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-47%, -50%);
    }

    &:hover {
      transform: scale(1.1);
    }

    &__wrap {
      text-align: center;
    }
  }

  .swap-info-box {
    padding: 1rem;
  }

  .swap-button {
    width: 100%;
  }

  .deleverage-checkbox {
    margin-left: 125px;
  }
}
