@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.exposure-interface .wallet-history-table {
  table {
    width: 100%
  }
  &-wrap {
    //background: $color-card-bg;
    padding: 1rem;
    border-radius: 20px;
    @include respond(phone) {
      max-width: calc(100vw - 20px);
      overflow: auto;
    }
  }

  &__head {
    text-align: center;
    height: 40px;
    font-size: 1.2rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__row {
    cursor: pointer;

    &:hover {
      background: $color-grey;

      & td {
        border-color: $color-grey;
      }
    }
  }

  & {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: auto;

    & table {
      border-collapse: collapse;
    }

    @include respond(phone) {
      height: inherit;
    }

    @include scrollBar;
  }

  & * {
    white-space: nowrap;
  }

  tr.is-add td {
    background: rgba(61, 186, 162, 0.1);
  }

  tr.is-remove td {
    background: rgba(255, 122, 104, 0.1);
  }

  tr.is-change-leverage td {
    background: rgba(104, 192, 255, 0.1);
  }

  td, th {
    padding: 0.5rem 0.25rem;
  }

  &__ctoken-col {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__time {
    & span {
      display: inline-block;
    }

    & span::first-letter {
      text-transform: uppercase;
    }
  }

  &__arrow {
    width: 40px;
  }

  &__ctoken-change {
    width: 0;

    & * {
      white-space: nowrap;
    }

    & > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
