.swap-page-interface {
  --swap-default-loading-background-color: #353535;
  --swap-default-layout-background-color: #000000;
  --swap-default-color-text-default: #ffffff;
  --swap-default-color-box-border: rgba(256, 256, 256, 0.2);
  --swap-default-color-box-bg: #2A2C32;
  --swap-default-color-card-bg: #181818;
  --swap-default-color-overlay: rgba(39, 39, 39, 0.9);
  --swap-default-color-input-field-bg: #2A2C32;
  --swap-default-color-modal-bg: #2a2c32;
  --swap-default-color-select-token-hover: #808080;
  --swap-default-color-toggle-button-bg: #6b6b6b;
}
