@import "../abstracts/mixins";
@import "../abstracts/variables";

.exposure-interface {
  color-scheme: only dark;

  * {
    box-sizing: border-box;
  }

  .text-center {
    text-align: center
  }

  .text-right {
    text-align: right
  }

  .text-left {
    text-align: left
  }

  .d-inline-block {
    display: inline-block;
  }

  .hidden {
    display: none !important;
  }

  .transparent {
    opacity: 0;
  }

  .hidden-on-desktop {
    display: none !important;
  }

  @include respond(phone) {
    .hidden-on-desktop {
      display: revert !important;
    }
    .hidden-on-phone {
      display: none !important;;
    }
  }

  .jc-space-between {
    display: flex;
    justify-content: space-between;
  }

  .align-item-center {
    display: flex;
    align-items: center;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .fs {
    @for $i from 12 through 32 {
      &-#{$i} {
        font-size: #{$i}px;
      }
    }
  }

  .margin-right-child {
    @for $i from 0 through 10 {
      &-#{$i} > *:not(:last-child) {
        margin-right: #{$i}rem;
      }
    }
    &-05 > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .w-100 {
    width: 100%;
  }

  .m-0 {
    margin: 0 !important;
  }

  .m {
    @for $i from 0 through 10 {
      &-#{$i} {
        margin: #{$i}rem;
      }
      &y-#{$i} {
        margin-top: #{$i}rem;
        margin-bottom: #{$i}rem;
      }
      &t-#{$i} {
        margin-top: #{$i}rem;
      }
      &b-#{$i} {
        margin-bottom: #{$i}rem;
      }
      &l-#{$i} {
        margin-left: #{$i}rem;
      }
      &r-#{$i} {
        margin-right: #{$i}rem;
      }
    }

    &r-05 {
      margin-right: 0.5rem;
    }

    &l-05 {
      margin-left: 0.5rem;
    }

    &t-05 {
      margin-top: 0.5rem;
    }

    &b-05 {
      margin-bottom: 0.5rem;
    }
  }


  .p {
    @for $i from 0 through 10 {
      &-#{$i} {
        padding: #{$i}rem;
      }
      &y-#{$i} {
        padding-top: #{$i}rem;
        padding-bottom: #{$i}rem;
      }
      &t-#{$i} {
        padding-top: #{$i}rem;
      }
      &b-#{$i} {
        padding-bottom: #{$i}rem;
      }
      &l-#{$i} {
        padding-left: #{$i}rem;
      }
      &r-#{$i} {
        padding-right: #{$i}rem;
      }
    }

    &r-05 {
      padding-right: 0.5rem;
    }

    &l-05 {
      padding-left: 0.5rem;
    }

    &t-05 {
      padding-top: 0.5rem;
    }

    &b-05 {
      padding-bottom: 0.5rem;
    }
  }

  .fw {
    @for $i from 3 through 7 {
      &-#{$i}00 {
        font-weight: #{$i}00;
      }
    }
  }


  .gap-05 {
    gap: 0.5rem
  }
  .gap-1 {
    gap: 1rem
  }

  .container {
    &-pl {
      padding-left: $container-padding;
      //@include respond(phone) {
      //  padding-left: $container-sm-padding;
      //}
    }

    &-pr {
      padding-right: $container-padding;
      //@include respond(phone) {
      //  padding-right: $container-sm-padding;
      //}
    }
  }

  .bsc-link {
    font-weight: 300;
    color: #3eb8ff;
    text-decoration: none;
  }

  .d-flex {
    display: flex;
  }

  .justify-content-center {
    justify-content: center;
  }
  .justify-content-between {
    justify-content: space-between;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .justify-content-end {
    justify-content: flex-end;
  }

  .align-items-center {
    align-items: center;
  }

  .token-icon-and-name {
    display: flex;
    flex-direction: column;

    .token-icon {
      width: 50px;
    }
  }

  .upper-case {
    text-transform: uppercase;
  }
  .text-decoration-none {
    text-decoration: none;
  }
}

.blur-2 {
  filter: blur(2px);
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(70%);
  }

  100% {
    transform: translate(100%);
  }
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
